.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9ecef;
  font-family: Arial, sans-serif;
}

.loginForm {
  background-color: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 24px;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f9fa;
  color: #333;
  transition: border-color 0.3s, background-color 0.3s;
}

.input:focus {
  border-color: #0070f3;
  outline: none;
  background-color: #e2e6ea;
}

.button {
  width: 100%;
  padding: 0.5rem;
  background-color: #636363;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #464646;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

.link {
  margin-top: 1rem;
  text-align: center;
  color: #011d3b;
}

.link a {
  color: #0070f3;
  text-decoration: underline;
  cursor: pointer;
}

.googleButton {
  width: 100%;
  padding: 0.5rem;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 0.5rem;
  transition: background-color 0.3s;
}

.googleButton:hover {
  background-color: #357ae8;
}